---
import MainLayout from "@/layout/MainLayout.astro";
import './index.sass'
---
<MainLayout>
	<ul>
		<li><a href="pemasukan-per-hari/">Hitung pemasukan dari hari a ke hari z</a></li>
	</ul>
</MainLayout>